
*{

padding: 0;
margin: 0;
box-sizing: border-box;
font-family: "Roboto", sans-serif;

}

body{

background-color: black;

}

.img{

display: block;
width: 350px;
margin: 150px auto 80px;



}


.paragrafo{

width: 299px;
color: #FFFFFF;
display: flex;
justify-content: center;
font-size: 20px;


}

.div{

display: flex;
justify-content: center;
align-self: center;
align-content: center;


}

.input1, .input2{

width: 250px;
height: 40px;
color: #FFFFFF;


background-color: rgba(255, 255, 255, 0.25);
border: 1px solid rgba(255, 255, 255, 0.2);
border-radius: 10px;
margin-bottom: 40px;
margin-top: 15px;
padding-left: 12px;



}

.input1{

margin-right: 40px;



}


.input1::placeholder, .input2::placeholder{

color: #FFFFFF;
opacity: 70%;
font-size: 20px;
padding-left: 12px;

}

.button{

width: 230px;
height: 50px;

background: #AEC346;
box-shadow: 0px 18px 40px rgba(174, 195, 70, 0.35);
border-radius: 10px;
font-weight: 700;
font-size: 25px;
line-height: 2px;
color: #FFFFFF;
border: none;


}


.button:hover{

transition: all 0.2s ;
background: #AEC360;
box-shadow: 0px 18px 40px rgba(174, 195, 70, 0.50);

}

.button:active{

opacity: 0.8;
transition: none;

}

@media screen and (max-width: 800px){

body{


zoom: 60%;
padding-top: 228px;


}


}

